.btn-group .btn{
    background-color: #eaeaeb;
  }
  .btn-group{
    width: 90%;
    margin: auto;
    display: flex;
  }
  @media screen and (min-width:991px) {
    .btn-group{
      width: 100%;
    }
  }
  .btn-group .btn:hover{
    background-color:#00062b;
    color: white;
    transition: all;
  }
  .principal-btn,.notice-btn{
    color: white;
    background-color: #4B0082;
  padding: 6px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  }
  .principal-btn:hover,.notice-btn:hover{
    background-color: black;
  }
  .btn-group :first-child{
    background-color: #00062b;
    color: white;
  }
  
  .notice-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .left-of-list{
    width: 20%;
    padding-top: 5px;
  
  }
  .right-of-list{
    width:80%;
    margin: auto;
    padding-top: 12px;
  }
  .notice-list img{
    height: 20px;
    width: 20px;
  }
  .notice-list ,.notice-text  {
    color: rgb(79, 79, 193);
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
  }
  .director-msg,.alerts-msg,.about-msg{
    margin-bottom: 3rem;
  }
  .director-msg img , .about-msg img{
    transition: transform 1s ease-in-out;
    border-radius: 18px;
    box-shadow: 3px 2px 6px red;
  }
  .director-msg img:hover,.alerts-msg img:hover,.about-msg img:hover{
    transform: scale(1.1);
  
  }
  .calendar-icon{
  list-style-type: none;
  }