.section2 img{
  width: 580px;
}
.section2 p{
  color: #666666fa;
}
/* Phones (up to 576px) */
@media (max-width: 576px) {
  .sectio1 .head-box {
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
  }
  .section5 .heading,
  .text-content,
  .image-content,
  .section1 .head-box{
    width: 100%;
  }

  .section2 .heading .adm,
  .pro {
    font-size: 1.3rem;
  }

  .section1 .head-box,
  .section4 .contain {
    flex-direction: column;
    align-items: center;
  }

  .text-content,
  .image-content {
    width: 100%;
    text-align: center;
  }
  .text-content p,
  .content p {
    font-size: 0.9rem;
  }

  .image-content img {
    width: 90%;
    margin: 1rem auto;
  }

  .table {
    font-size: 0.85rem;
    display: block;
    overflow-x: auto;
  }

  .list ul li {
    font-size: 0.9rem;
    line-height: 1.6rem;
  }
}

/* Small Tablets (577px to 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  .section4 .contain {
    flex-direction: column;
    align-items: center;
  }

  .text-content,
  .image-content {
    width: 100%;
    text-align: center;
  }

  .image-content img {
    width: 90%;
    margin: 1rem auto;
  }

  .table {
    font-size: 0.9rem;
    display: block;
    overflow-x: auto;
  }
}

/* Tablets & Small Laptops (769px to 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  .section4 .contain {
    flex-direction: column;
    /* align-items: center; */
  }

  .image-content img {
    width: 100%;
    margin: 0 auto;
  }
  .heading,
  .text-content {
    width: 110%;
    margin: 2px auto;
  }

  .table {
    font-size: 0.95rem;
  }
}

/* Large Screens (≥993px) */
@media (min-width: 993px) {
  .image-content img {
    width: 400px;
  }
  .table {
    font-size: 1rem;
  }
}
