 body {
            font-family: 'Arial', sans-serif;
            background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
            margin: 0;
        }
      
        .mission-section-box{
            background-color: #ffffff;
            margin: 20px auto;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            max-width: 800px;
        }
       .mission-section-box h1,.mission-section-box h2 {
            font-family: 'Georgia', serif;
            margin-bottom: 10px;
        }
       .mission-section-box p, .mission-section-box li {
            font-size: 1.1rem;
            line-height: 1.6;
        }
        .mission-section-box ul {
            list-style-type: square;
            padding-left: 20px;
        }